{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}
{% block content %}
    <div class="content-wrapper">
	<h2>Make changes to "{{project.title}}"</h2>
	<!-- Main column -->
	<div class="content-main">
	    Created by <a href="{{url_for('user', username=project.author.username)}}">{{project.author.username}}</a>
	    <br> Status: 
	    {% if project.public %}
		Public
	    {% else %}
		Private
	    {% endif %}
	    <img class="project-preview" src="{{project.file_path}}" />
	</div>

	<!-- Side column -->
	<div class="content-side">
	    <h3>Edit project details</h3>
	    <p class="instructions">
		Change only the fields you want to edit. Any fields you do not change or leave blank will remain the same.
	    </p>
	    <form method=post action="{{url_for('editProject', pid=project.id)}}">
		<dl>
		    {{render_field(form.title)}}
		    {{render_field(form.tags)}}
		    {{render_field(form.status)}}
		</dl>
		<input type=submit class="btn btn-info" value="Save changes">
		<a href="{{url_for('project', pid=project.id)}}" class="btn btn-default">Cancel</a>
	    </form>
	</div>
    </div>
{% endblock %}

