{% extends "base.html" %}

{% block content %}
    <div class="content-wrapper">
	<h2 class="project-title">{{project.title}}</h2>
	<!-- Main project column -->
	<div class="content-main">
	    <p>
		Created by <a href="{{url_for('user', username=project.author.username)}}">{{project.author.username}}</a><br>
		Status:
		{% if project.public %}
		    Public
		{% else %}
		    Private
		{% endif %}
	    </p>
	    <img class="project-preview" src="{{project.file_path}}"/>
	    <br> Tags: 
		{% for tag in project.tags %}
		    <a class="tag" href="{{url_for('tagged', tag=tag.tag)}}">{{tag.tag}}</a>, 
		{% else %}
		    no tags
		{% endfor %}
	</div>
	<!-- Project side column -->
	<div class="content-side">
	    <button type="button" class="btn btn-info">Download pattern</button>
	    {% if user == project.author %}
		<a href="{{url_for('editProject', pid=project.id)}}" class="btn btn-default">Edit project</a>
		<button type="button" class="btn btn-danger">Delete project</button>
	    {% endif %}
	</div>
    </div>
{% endblock %}


