{% extends "base.html" %}

{% block content %}
    <div class="content-wrapper">
	<h2 class="project-title">{{project.title}}</h2>
	<!-- Main project column -->
	<div class="content-main">
	    <p>
		Created by <a href="{{url_for('user', username=project.author.username)}}">{{project.author.username}}</a><br>
		Status:
		{% if project.public %}
		    Public
		{% else %}
		    Private
		{% endif %}
		<br> Tags:
		    {% for tag in project.tags %}
			<a class="tag" href="{{url_for('tagged', tag=tag.tag)}}">{{tag.tag}}</a>
		    {% else %}
			no tags
		    {% endfor %}
		<br>Dimensions: {{project.across}} stitches across x {{project.tall}} stitches tall using up to {{project.colors}} colors
	    </p>
	    <img class="project-preview" src="{{project.file_path}}"/>
	</div>
	<!-- Project side column -->
	<div class="content-side">
	    <a class="btn btn-info" href="{{project.file_path}}" target="_blank">Download pattern</a>
	    {% if user == project.author %}
		<a href="{{url_for('editProject', pid=project.id)}}" class="btn btn-default">Edit project</a>
		<a href="{{url_for('removeProject', pid=project.id)}}" class="btn btn-danger">Delete project</a>
	    {% endif %}
	</div>
    </div>
{% endblock %}


