{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}
{% block content %}
    <h2>Sign up for a Knitsie account</h2>
    <p>Already have an account? <a href="{{url_for('login')}}">Log in here.</a></p>
    <form class="form-signin" method=post action="/signup">
	<dl>
	    {{ render_field(form.username) }}
	    {{ render_field(form.email) }}
	    {{ render_field(form.password) }}
	    {{ render_field(form.confirm) }}
	    {{ render_field(form.accept_tos) }}
	</dl>
	<p><input class="btn btn-default" type=submit value="Sign up">
    </form>
{% endblock %}


