{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}
{% block content %}
    <div class="content-wrapper">
    <h2>Sign up for a Knitsie account</h2>
	<div class="content-main">
	    <div class="alert alert-warning" role="alert" style="margin-top: 10px;">
		Please keep in mind that this site is still in development. Do not use the same password here as your other online accounts.
	    </div>

	    <p>Already have an account? <a href="{{url_for('login')}}">Log in here.</a></p>
	    <form class="form-signin" method=post action="/signup">
		<dl>
		    {{ render_field(form.username) }}
		    {{ render_field(form.email) }}
		    {{ render_field(form.password) }}
	            {{ render_field(form.confirm) }}
		    {{ render_field(form.accept_tos) }}
		</dl>
		<input class="btn btn-default" type=submit value="Sign up">
	    </form>
	</div>
{% endblock %}


