<link rel="stylesheet" type="text/css" href="/static/css/project.css" />
{% extends "base.html" %}

{% block content %}
    <h2>Projects tagged with "{{tagged}}"</h2>
    {% if tags.items == None %}
	<em>There are no projects tagged with {{tagged}}!</em>
    {% else %}
	<table class="table table-striped">
	    <thead>
		<tr>
		    <th class-"col-md-2"></th>
		    <th class="col-md-4"></th>
		    <th class="col-md-6"></th>
		</tr>
	    </thead>
	    <tbody>
	    {% for tag in tags.items %}
		{% if tag.project.public %}
		    <tr>
			<td><img class="project-thumb" style="max-height: 50px" src="{{tag.project.file_path}}"></td>
			<td><a class="table-project-title" href="{{url_for('project', pid=tag.project.id)}}">{{tag.project.title}}</a>
		        <br>by <a href="{{url_for('user', username=tag.project.author.username)}}">{{tag.project.author.username}}</a></td>
			<td> {% for ptag in tag.project.tags %}
				<a class="tag" href="{{url_for('tagged', tag=ptag.tag)}}">{{ptag.tag}}</a>
			     {% else %}
				no tags
			     {% endfor %}
			</td>
		    </tr>
		{% endif %}
	    {% else %}
		There are no projects tagged with {{tagged}}!
	    {% endfor %}
	    </tbody>
	</table>

	<!-- Pagination controls --> 
	<ul class="pagination">
	{% if tags.has_prev %}
	    <li class="active"><a href="{{url_for('tagged', tag=tagged, page=tags.prev_num)}}">&laquo; Older</a></li>
	{% else %}
	    <li class="disabled"><a href="#">&laquo; Older</a></li>
	{% endif %}
	{% if tags.has_next %}
	    <li class="active"><a href="{{url_for('tagged', tag=tagged, page=tags.next_num)}}">Newer &raquo;</a></li>
	{% else %}
	    <li class="disabled"><a href="#">Newer &raquo;</a></li>
	{% endif %}
	</ul>
   {% endif %}
{% endblock %}


