{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}
{% block content %}
    <div class="content-wrapper">
	<div class="content-main">
	    <h2>Upload a photo and create a new project</h2>
	    <form method=post action="{{url_for('upload')}}" enctype="multipart/form-data">
		<dl>
		    {{ render_field(form.image) }}
		    {{ render_field(form.stitches) }}
		    {{ render_field(form.maxColors) }}
		    {{ render_field(form.title) }}
		    {{ render_field(form.tags) }}
		    {{ render_field(form.public) }}
		</dl>
		<input type=submit class="btn btn-default" value="Upload">
	    </form>
	</div>
 
	<div class="content-side">
	    <p class="instructions"> Note: Once you hit "Upload" it may take some time to process your project. Please be patient and do not leave the page or hit refresh. Projects that require more stitches will take more time to process.</p>
	</div>    
   </div>
{% endblock %}

