{% extends "base.html" %}

{% block content %}
    <h2>{{user.username}}'s projects</h2>
    <table class="table table-striped">
	<thead>
	    <tr>
		<th class="col-md-2"></th>
		<th class="col-md-4"></th>
		<th class="col-md-6"></th>
	    </tr>
	</thead>
	<tbody>
	{% for p in projects.items %}
	    {% if currUser == user or p.public %}
		<tr>
		    <td><img class="project-thumb" src="{{p.file_path}}"></td>
		    <td><a class="table-project-title" href="{{url_for('project', pid=p.id)}}">{{p.title}}</a></td>
		    <td> {% for tag in p.tags %}
			    <a class="tag" href="{{url_for('tagged', tag=tag.tag)}}">{{tag.tag}}</a>
			 {% else %}
			    no tags
			 {% endfor %}
		    </td>
		</tr>
	    {% endif %}
	{% else %}
	    <tr>
		<td></td><td>{{user.username}} has no projects so far!</td><td><td>
	    </tr>
	{% endfor %}
	</tbody>
    </table>

    <ul class="pagination">    
    {% if projects.has_prev %}
	<li class="active"><a href="{{url_for('user', username=user.username, page=projects.prev_num)}}">&laquo; Older</a></li>
    {% else %}
	<li class="disabled"><a href="#">&laquo; Older</a></li>
    {% endif %}
    {% if projects.has_next %}
	<li class="active"><a href="{{url_for('user', username=user.username, page=projects.next_num)}}">Newer &raquo;</a></li>
    {% else %}
	<li class="disabled"><a href="#">Newer &raquo;</a></li>
    {% endif %}
{% endblock %}


