h2 {
    margin: 0px;
}

h2.project-title {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 28pt;
}

h3 {
    margin: 0px;
}

.content-wrapper {
    width: 100%;
    padding-bottom: 100px;
}

.content-main {
    width: 65%;
    float: left;
}

.project-preview {
    width: 90%;
    margin-bottom: 25px;
    border: 7px solid #C2A3FF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.content-side {
    width: 30%;
    margin-left: 5%;
    float: left;
}

.content-side .btn {
    width: 85%;
    margin-bottom: 10px;
}

